Xft.dpi: 144
Xcursor.theme: Adwaita
Xcursor.size: 24


! Отключаем уродливый скроллбар
xterm*scrollBar: false

! Настраиваем цвета (Темно-серый фон, светло-серый текст)
xterm*background: #1e1e1e
xterm*foreground: #d4d4d4
xterm*cursorColor: #ffffff

! Прописываем шрифт (здесь DejaVu, можешь поменять на Courier New)
! Размер ставится через size=
xterm*faceName: DejaVu Sans Mono:size=17:antialias=true

! Чтобы выделение текста работало адекватно и копировалось в буфер
xterm*selectToClipboard: true

